{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/index.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/css/post.css" type="text/css" media="screen">
{% endblock %}

{% block college_name %}
    <li>{{ college.name }}</li>
{% endblock %}

{% block title_college %}
    {{ college.name }}
{% endblock %}

{% block left_menu %}
    <a class="button primary" href="{{ path('homepage')}}">Back</a>
{% endblock %}

{% block body %}
    <div class="row wrapper">
        <div class="small-10 medium-8 small-centered columns">
            <div id="college_header">
                {{ college.name }}
                <hr width="40%">
            </div>
            <div class="row post" data-post-id="{{post.id}}">
                <div class="small-11 columns body">
                    <p class="post_body">{{ post.body }}</p>
                    <a href="#" class="post_report" data-post-id="{{post.id}}">Report</a>
                    <a href="#" class="post_remove" data-post-id="{{post.id}}">Remove</a>
                    <span class="post_time" data-post-id="{{post.id}}" title="{{ post.created|date('Y-m-d H:i:s') }}">{{ post.created|time_diff }}</span>
                </div>
                <div class="small-1 columns score">
                    {% if college.id == app.user.getCollege.getId %}
                        <i class="fi-arrow-up post_upvote {% if like is not null and like.getIsLike %}blue{% endif %}" data-post-id="{{post.id}}"></i><br>
                    {% endif %}
                    <span class="score_number" data-post-id="{{post.id}}">{{ post.upvotes - post.downvotes }}</span><br>
                    {% if college.id == app.user.getCollege.getId %}
                        <i class="fi-arrow-down post_downvote {% if like is not null and not like.getIsLike %}pink{% endif %}" data-post-id="{{post.id}}"></i><br>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% for comment in comments %}
        <div class="row">
            <div class="small-10 medium-8 small-centered columns">
                {% if comment.user.id == post.user.id %}
                <div class="op_row row">
                    <div class="small-12 columns">
                {% endif %}
                        <div class="row comment {% if comment.user.id == post.user.id %}op{% endif %}" data-comment-id="{{comment.id}}">
                            <div class="small-11 columns body">
                                <p class="comment_body">{{ comment.body }}</p>
                                <a href="#" class="comment_report" data-comment-id="{{comment.id}}">Report</a>
                                <span class="comment_time" data-post-id="{{post.id}}" title="{{ comment.created|date('Y-m-d H:i:s') }}">{{ comment.created|time_diff }}</span>
                            </div>
                            <div class="small-1 columns score">
                                <i class="fi-arrow-up comment_upvote {% if comment.likes|length > 0 and comment.likes.first.getIsLike %}blue{% endif %}" data-comment-id="{{comment.id}}"></i><br>
                                <span class="score_number" data-comment-id="{{comment.id}}">{{ comment.upvotes - comment.downvotes }}</span><br>
                                <i class="fi-arrow-down comment_downvote {% if comment.likes|length > 0 and not comment.likes.first.getIsLike %}pink{% endif %}" data-comment-id="{{comment.id}}"></i><br>
                            </div>
                        </div>
                {% if comment.user.id == post.user.id %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    <div class="row post_comment">
        <div class="small-10 medium-8 small-centered columns">
            <form method="POST" id="comment_form">
                <div class="row new_comment" data-post-id="{{post.id}}">
                    <div class="small-12 columns comment_input">
                        <input type="text" name="comment" placeholder="Well..." id="comment_body" data-post-id="{{ post.id}}"; />
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/js/post.js"></script>
    <script type="text/javascript" src="/js/comment.js"></script>
{% endblock %}
