{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/index.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/css/post.css" type="text/css" media="screen">
{% endblock %}

{% block body %}
    <div class="row">
        <a class="button primary" href="{{ path('homepage')}}">Back</a>
    </div>
    <div class="row wrapper">
        <div class="small-10 medium-8 small-centered columns">
            <div class="row post" data-post-id="{{post.id}}">
                <div class="small-11 columns body">
                    <p class="post_body">{{ post.body }}</p>
                    <a href="#" class="report" data-post-id="{{post.id}}">Report</a>
                </div>
                <div class="small-1 columns score">
                    <i class="fi-arrow-up upvote {% if like is not null and like.getIsLike %}blue{% endif %}" data-post-id="{{post.id}}"></i><br>
                    <span class="score_number">{{ post.upvotes - post.downvotes }}</span><br>
                    <i class="fi-arrow-down downvote {% if like is not null and not like.getIsLike %}pink{% endif %}" data-post-id="{{post.id}}"></i><br>
                </div>
            </div>
        </div>
    </div>
    {% if comments is defined %}
        {% for comment in comments %}
            {# Stuff goes here! #}
        {% endfor %}
    {% endif %}
    <div class="row post_comment">
        <div class="small-10 medium-8 small-centered columns">
            <form method="POST">
                <div class="row new_comment" data-post-id="{{post.id}}">
                    <div class="small-12 columns comment">
                        <input type="text" name="comment" placeholder="Well..." />
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/js/post.js"></script>
{% endblock %}
