{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/index.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/css/post.css" type="text/css" media="screen">
{% endblock %}

{% block body %}
    <div class="row">
        <a class="button primary" href="{{ path('homepage')}}">Back</a>
    </div>
    <div class="row wrapper">
        <div class="small-10 medium-8 small-centered columns">
            <div class="row post" data-post-id="{{post.id}}">
                <div class="small-11 columns body">
                    <p class="post_body">{{ post.body }}</p>
                    <a href="#" class="report" data-post-id="{{post.id}}">Report</a>
                    <a href="#" class="remove" data-post-id="{{post.id}}">Remove</a>
                </div>
                <div class="small-1 columns score">
                    <i class="fi-arrow-up upvote {% if like is not null and like.getIsLike %}blue{% endif %}" data-post-id="{{post.id}}"></i><br>
                    <span class="score_number">{{ post.upvotes - post.downvotes }}</span><br>
                    <i class="fi-arrow-down downvote {% if like is not null and not like.getIsLike %}pink{% endif %}" data-post-id="{{post.id}}"></i><br>
                </div>
            </div>
        </div>
    </div>
    {% if post.comments is defined %}
        {% for comment in post.Comments %}
            <div class="row comment" data-comment-id="{{comment.id}}">
                    <div class="small-11 columns body">
                        <p class="comment_body">{{ comment.body }}</p>
                        <a href="#" class="report" data-comment-id="{{comment.id}}">Report</a>
                    </div>
                    <div class="small-1 columns score">
                        <i class="fi-arrow-up upvote" data-comment-id="{{comment.id}}"></i><br>
                        <span class="score_number">{{ comment.upvotes - comment.downvotes }}</span><br>
                        <i class="fi-arrow-down downvote" data-comment-id="{{comment.id}}"></i><br>
                    </div>
                </div>
        {% endfor %}
    {% endif %}
    <div class="row post_comment">
        <div class="small-10 medium-8 small-centered columns">
            <form method="POST" id="comment_form">
                <div class="row new_comment" data-post-id="{{post.id}}">
                    <div class="small-12 columns comment">
                        <input type="text" name="comment" placeholder="Well..." id="comment_body" data-post-id="{{ post.id}}" />
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/js/post.js"></script>
{% endblock %}
