{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/profile.css" type="text/css" media="screen">
{% endblock %}

{% block left_menu %}
    <a class="button primary" href="{{ path('homepage')}}">Home</a>
{% endblock %}

{% block body %}
<div class="wrapper">
    {% if flash is defined %}
        <div class="row">
            <div class="small-6 small-centered columns">
                <div class="success callout" data-closable="slide-out-right">
                    <h5>{{ flash }}</h5>
                </div>
            </div>
        </div>
    {% endif %}
    {% if error is defined %}
        <div class="row">
            <div class="small-6 small-centered columns">
                <div class="alert callout" data-closable="slide-out-right">
                    <h5>{{ error }}</h5>
                </div>
            </div>
        </div>
    {% endif %}
    {% if form is defined %}
        <div class="row">
            <div class="small-10 small-centered columns">
                <h1 class="title">Password Reset</h1>
            </div>
        </div>
        <hr width="20%">
        {{ form_start(form) }}
            <div class="row">
                <div class="small-10 medium-6 small-centered columns">
                    <div class="password">
                        {{ form_row(form.newPassword.first, { 'attr' : {'placeholder' : 'New Password'}} ) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="small-10 medium-6 small-centered columns">
                    <div class="password">
                        {{ form_row(form.newPassword.second, { 'attr' : {'placeholder' : 'Confirm Password'}} ) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="small-10 medium-6 small-centered columns">
                    <button id="submit" type="submit" class="button hollow expanded">Update</button>
                </div>
            </div>
        {{ form_end(form) }}
    {% endif %}
</div>
{% endblock %}