{{ form_start(form) }}
    <div class="email">
        {{ form_row(form.email) }}
    </div>
    <div class="password">
        {{ form_row(form.plainPassword.first) }}
    </div>
    <div class="password">
        {{ form_row(form.plainPassword.second) }}
    </div>
    <div class="terms">
        By signing up you agree to our 
        <a title="Terms" href="{{ path('terms') }}">{% trans %}Terms{% endtrans %}</a> 
        and that you have read our 
        <a title="Privacy" href="{{ path('privacy') }}">{% trans %}Privacy Policy{% endtrans %}</a>
        and
        <a title="Content" href="{{ path('content') }}">{% trans %}Content Policy{% endtrans %}</a>.
    </div>        

    <button type="submit">Register!</button>
{{ form_end(form) }}