{{ form_start(form) }}
    <div class="email">
        {{ form_row(form.email) }}
    </div>
    <div class="password">
        {{ form_row(form.plainPassword.first) }}
    </div>
    <div class="password">
        {{ form_row(form.plainPassword.second) }}
    </div>
    <div class="terms">
        {% set terms_link %}
            I agree to the <a title="{% trans %}Terms and Conditions{% endtrans %}" href="{{ path('terms') }}">{% trans %}Terms and Conditions{% endtrans %}</a>
        {% endset %}
        <label for="{{ form.termsAccepted.vars.id }}">{{ terms_link|raw }}</label>
        {{ form_widget(form.termsAccepted) }}
    </div>        

    <button type="submit">Register!</button>
{{ form_end(form) }}